/* Colors */
$heading-color: #fec504;
$box-shadow: rgba(0,0,0,0.2);
$white: #ffffff;
$dark-yellow: #f5bd00;
$black: #000000;
$error: #dc3445;
$grey: #e0e0e0;
$loader-overlay-color: rgba(255,255,255,0.7);

/* Sizes */
$breakpoint: 750px;




